Project Requirements (MVP)
Project Completed Due Date: 12/6/23 by 10:00 AM EST


*** FINAL CHECKS ***
- Include a beautiful, professional README.md (use markdown)
- Be deployed on Surge (We will cover this on Monday of project week)
- Remove console logs before deploying
- Display proper use of global variables and function parameters (function scopes)


*** DONE ***
- Be a new repo. Create a new repo in your GitHub and build your project there. DO NOT name your repository Project 1. Give it a real name.
- Utilize flexbox or grid (or both)
- Include a minimum of 2 HTML pages and navigation between them
- Include a minimum of 2 event handlers
- Use camelCase for JavaScript variables
- Your code should be properly indented, spaced, and within code blocks. DO NOT leave in commented out code that was left unused (bad practice). Comments, if in your code at all, should be in your code to describe what your functions are doing.
- Have at least 20 meaningful git commits. You should be committing your changes every time you build a new feature.