/* ----- MESSAGE CONTAINERS ----- */

.message-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90vw;
   height: auto;
   border-radius: 2vmin;
   box-shadow: 0px -4px 12px 4px rgba(0, 0, 0, 0.541);
   padding: 3vmin;
   background-color: #ddd;
   text-align: center;
   color: #323232;
   z-index: 10;
}

#restart-game-container {
   display: none;
}

#reset-btns-container {
   display: flex;
   flex-direction: row;
   gap: 10vmin;
}

/* ----- LEFT CONTENT (DESKTOP) ----- */

#instructions-container {
   display: none;
}

/* ----- STATS ----- */

#level-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2vmin;
   font-size: 5vmin;
}

#stats-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
      "high-score-label current-score-label timer-label"
      "high-score current-score timer";
   justify-content: center;
   align-items: center;
   place-items: center;
   text-align: center;
   margin: 2vmin auto;
   font-size: 3.25vmin;
}

#high-score-label {
   grid-area: high-score-label;
}

#current-score-label {
   grid-area: current-score-label;
}

#time-label {
   grid-area: timer-label;
}

#high-score-val,
#current-score-val,
#time-val {
   font-size: 4.5vmin;
}

#high-score-val {
   grid-area: high-score;
}

#current-score-val {
   grid-area: current-score;
}

#time-val {
   grid-area: timer;
}

/* ----- GRID ----- */

#grid {
   display: grid;
   width: 80vmin;
   height: 80vmin;
   justify-content: center;
   align-items: stretch;
   border: 1px solid black;
   overflow: hidden;
}

#grid>div {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #111;
   color: #111;
   font-size: 4vmin;
   text-align: center;
}

/* ----- FOOD ICONS ----- */

#grid>div>img {
   width: 7vmin;
   height: 7vmin;
}

/* ----- WORM ----- */

.worm-head {
   background-color: rgb(161, 249, 127) !important;
   box-shadow: 0 0 15vmin 8vmin rgba(161, 249, 127, 0.5);
   z-index: 2;
}

.just-ate {
   background-color: white !important;
   box-shadow: 0 0 15vmin 8vmin rgba(255, 255, 255, 0.5);
   z-index: 2;
}

.poisoned {
   background-color: rgb(249, 127, 127) !important;
   box-shadow: 0 0 18vmin 15vmin rgba(249, 127, 127, 0.75);
   z-index: 2;
}

.glow {
   background-color: rgba(161, 249, 127, 0.1) !important;
}

.worm-tail {
   background-color: rgb(125, 125, 125) !important;
}


/* ----- FOOTER ----- */

footer {
   position: absolute;
   display: flex;
   flex-direction: row;
   gap: 10vmin;
   bottom: 2vmin;
   font-family: 'Inter', sans-serif;
   font-size: 3vmin;
}

footer a {
   font-family: 'Tektur', sans-serif;
   color: rgb(161, 249, 127);
   text-decoration: none;
}

/* ----- BUTTONS ----- */

#start-btn,
#restart-btn,
#quit-reset-btn {
   margin-bottom: 1.5vmin;
   width: 30vmin;
}

/* Controls */

#controls-container {
   margin-top: 3vmin;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas:
      ". up ."
      "left center right"
      ". down .";
   row-gap: 1vmin;
   place-items: center;
}

#arrow-up {
   grid-area: up;
}

#arrow-left {
   grid-area: left;
}

#pause {
   grid-area: center;
   height: 7vmin;
   width: 25vmin;
   ;
}

#arrow-right {
   grid-area: right;
}

#arrow-down {
   grid-area: down;
}

/* On Click */

button:active,
#arrow-up:active,
#arrow-left:active,
#arrow-right:active,
#arrow-down:active,
.button-clicked {
   background-color: rgb(161, 249, 127);
   color: rgb(71, 155, 90);
   border: 1px solid #999;
   box-shadow: none;
}

@media screen and (min-width: 1000px) {
   #controls-container {
      display: none;
   }

   main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 7vmin;
   }

   .message-container {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-68.5%, -25%);
      width: 40vw;
      font-size: 3vmin;
   }

   #instructions-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      border-radius: 2vmin;
      background-color: #ddd;
      padding: 2vmin;
      text-align: center;
      color: #323232;
   }

   #instructions-container > img {
      width: 80%;
   }

   #instructions-container p {
      text-align: justify;
      font-family: 'Inter', sans-serif;
      font-size: 1.5vmin;
   }

   #level-container {
      font-size: 4vmin;
      margin: 1vmin 0 0;
   }

   #stats-container {
      font-size: 2.25vmin;
      margin: 1vmin;
   }

   #high-score-val,
   #current-score-val,
   #time-val {
      font-size: 3.5vmin;
      margin: -0.5vmin;
   }

   #grid {
      width: 65vmin;
      height: 65vmin;
   }

   footer {
      font-size: 2vmin;
   }

}