/* ----- LANDING CONTENT ----- */

#landing-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-top: 3vmin;
   height: auto;
   width: 80vw;
   border: 1px solid #ddd;
   border-radius: 1.5vmin;
   padding: 3vmin;
   box-shadow: 0 0 5vmin 1vmin rgba(161, 249, 127, 0.5);
   font-size: 3vmin;
}

main, footer, #logo {
   opacity: 0;
   transition: opacity 0.5s ease;
}

#about h2 {
   margin-top: 0vmin;
}

#about h3 {
   text-align: center;
}

#about p {
   font-family: 'Inter', sans-serif;
}

#food-table {
   margin: -2vmin 2vmin 5vmin;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   column-gap: 2vmin;
   grid-auto-flow: column;
   background-color: #ddd;
   border-radius: 1vmin;
   padding: 1vmin;
   text-align: left;
   font-size: 2.75vmin;
   color: #111
}

#food-table>div>img {
   width: 4.5vmin;
   transform: translate(0%, 20%);
}

#go-to-game {
   margin: 1.5vmin;
   width: 30vmin;
}

/* ----- FOOTER ----- */

footer {
   position: absolute;
   bottom: 2vmin;
   font-family: 'Inter', sans-serif;
   font-size: 3vmin;
}

footer a {
   font-family: 'Tektur', sans-serif;
   color: rgb(161, 249, 127);
   text-decoration: none;
}

@media screen and (min-width: 1000px) {
   #logo {
      margin-top: 7vmin;
      width: 22vmin;
      height: 22vmin;
   }

   #landing-content p {
      font-size: 2.5vmin;
   }

   #food-info {
      display: none;
   }

   footer {
      font-size: 2vmin;
   }
}